@model List<BankAccount>
@{
    ViewData["Title"] = "Bank Accounts";
}

<div class="container">
    <h1>Bank Account Overview 🏦 💶</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Account ID</th>
                <th>Balance</th>
                <th>User ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <td>@account.Id</td>
                    <td>@account.Balance</td>
                    <td>@account.UserId</td>
                </tr>
            }
        </tbody>
    </table>
</div>